@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

.hamburger {
  display: none;
}

@media only screen and (max-width: 640px) {
  .hamburger {
    display: inline-block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.transisi {
  @apply transition duration-200 ease-in-out;
}

/* .animate-tick {
  transition: transform 0.3s ease-in-out;
} */
.animate-tick {
  opacity: 1;
  transform: rotate(-45deg);
  animation: rotateFadeOut rotateFadeIn 0.3s ease-in-out forwards;
}

.checked {
  opacity: 1;
  animation: rotateFadeIn 0.3s ease-in-out forwards;
}

@keyframes rotateFadeIn {
  from {
    opacity: 0;
    transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes rotateFadeOut {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    transform: rotate(-45deg);
  }
}

.checked-back {
  opacity: 0;
  animation: rotateFadeInBack 0.3s ease-in-out forwards;
}

@keyframes rotateFadeInBack {
  from {
    opacity: 0;
    transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
.navbar-fixed {
  @apply fixed z-[40] bg-white bg-opacity-80;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.button-foot {
  @apply bg-blue-600 rounded-lg px-2 py-1 w-32 ml-4 text-white font-semibold hover:bg-blue-700;
}

.hamburger-line {
  @apply w-[30px] h-[2px] mt-2 block bg-slate-600;
}

.hamburger-line-white {
  @apply w-[30px] h-[2px] mt-2 block bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.scroll-lock {
  overflow-y: hidden;
}

.text-format {
  @apply text-base pb-1 font-semibold;
}

.pad-input {
  @apply pb-6;
}

.text-nav {
  @apply font-semibold  text-white text-lg py-2  mx-8 flex group-hover:text-blue-200 lg:text-base lg:justify-center lg:text-black lg:group-hover:text-blue-500;
}

.text-nav2 {
  @apply font-semibold text-white text-lg py-2 mx-8 flex group-hover:text-blue-200 lg:mx-3 lg:text-base lg:justify-center lg:text-black lg:group-hover:text-blue-500;
}

.text-tabel-gray {
  @apply text-gray-500;
}

.input_style {
  @apply pl-3 text-base w-full border border-gray-400 rounded-md h-10  focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
}

.thick-divider {
  @apply border-t border-gray-300;
}

.gap-nav {
  @apply pb-4 lg:pb-0 hover:text-blue-200 lg:hover:text-blue-500;
}
